
/* mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

/* mixins for checkmarks in list items */

@mixin lead-ad-list-item-checkmark-blue {
    max-width: 400px;
    position: relative;
    li:before {
        background-image: url('../images/checkmark-blue.svg');
        background-size:contain;
        content:'';
        height: 13px;
        left: 0px;
        margin-top: 5px;
        position:absolute;
        width: 13px;
    }
}

@mixin lead-ad-list-item-checkmark-orange {
    max-width: 400px;
    position: relative;
    li:before {
        background-image: url('../images/checkmark-orange.svg');
        background-size:contain;
        content:'';
        height: 13px;
        left: 0px;
        margin-top: 5px;
        position:absolute;
        width: 13px;
    }
}


/* start of lead-ad-6-secrets-lander */


.lead-ad-6-secrets-lander {
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.lead-ad-nav {
    @include flex-align(center);
    @include flex;
    @include flex-direction(row);
    @include flex-justify(space-between);
    background-color: #2c3e50;
    color: #ffffff;
    padding: 25px 50px;
    .lead-ad-logo {
        cursor: pointer;
        width: 150px;
    }
    .lead-ad-button {
        border: solid 2px #ffffff;
        border-radius: 7px;
        color: #ffffff;
        cursor: pointer;
        padding: 10px 15px;
        &:hover {
            background-color: #f7931e;
            border: solid 2px #f7931e;
        }
    }
}

.lead-ad-hero-row {
    @include flex;
    @include flex-direction(column);
    @include flex-justify(center);
    padding: 25px 100px 50px 100px;
    .lead-ad-header {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    .lead-ad-subheader {
        border-bottom: 2px solid #2c3e50;
        font-size: 14px;
        margin-bottom: 25px;
        padding-bottom: 25px;
        text-align: center;
    }
    .lead-ad-webinar-info-row {
        @include flex;
        @include flex-direction(row);
        @include flex-justify(center);
    }
    .lead-ad-webinar-subheader {
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: 700;
        text-align: center;
    }
    .lead-ad-about-miro {
        @include flex;
        @include flex-direction(column);
        margin-right: 10%;
        width: 30%;
    }
    .lead-ad-miro-img {
        border: 3px solid #2c3e50;
        border-radius: 50%;
        height: 180px;
        margin: 0 auto 15px auto;
        width: 185px;
    }
    .lead-ad-miro-blurb {
        font-weight: 300;
        text-align: center;
        max-width: 295px;
    }
    .lead-ad-MIT-logo {
        max-width: 40px;
    }
    .lead-ad-webinar-info {
        @include flex;
        @include flex-direction(column);
        width: 40%;
    }
    .lead-ad-webinar-blurb {
        border-bottom: 2px solid #eaeaea;
        font-weight: 300;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    .lead-ad-webinar-list {
        @include lead-ad-list-item-checkmark-blue;
        margin: 0 auto;
        padding-left: 20px;
        position: relative;
    }
    .lead-ad-list-item {
        margin-bottom: 15px;
    }
    .lead-ad-list-item:last-of-type {
        margin-bottom: 0px;
    }
}

.lead-ad-about-testive-row {
    background-color: #2c3e50;
    padding: 50px;
    .lead-ad-news-header {
        color: #F7931E;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .lead-ad-news-icons-row {
        @include flex;
        @include flex-align(center);
        @include flex-direction(row);
        @include flex-justify(center);
    }
    .lead-ad-news-icons {
        padding: 25px 25px 50px 25px;
    }
    .lead-ad-testive-info {
        @include flex;
        @include flex-direction(row);
        @include flex-justify(center);

    }
    .lead-ad-molly-video {
        background-color: #ffffff;
        width: 550px;
        height: 400px;
        margin-right: 7%;
        max-width: 43%;
    }
    .lead-ad-about-testive-column {
        color: #ffffff;
        font-weight: 300;
        text-align: left;
        max-width: 37%;
    }
    .lead-ad-about-testive-header {
        border-bottom: solid 1px #f7931e;
        color: #F7931E;
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .lead-ad-about-testive-blurb {
        margin-bottom: 10px;
    }
    .lead-ad-about-testive-list-header {
        color: #F7931E;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .lead-ad-testive-list {
        @include lead-ad-list-item-checkmark-orange;
        margin: 0 auto;
        padding-left: 20px;
        position: relative;
    }
    .lead-ad-testive-list-item {
        margin-bottom: 15px;
    }
    .lead-ad-testive-list-item:last-of-type {
        margin-bottom: 0px;
    }}

.lead-ad-schedule-call-row {
    padding: 50px 200px;
    text-align: center;
    .lead-ad-schedule-call-header {
        border-bottom: 2px solid #eaeaea;
        font-size: 22px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-weight: 700;
    }
    .lead-ad-schedule-call-blurb {
        max-width: 700px;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    .lead-ad-schedule-call-subheader {
        color: #F7931E;
        font-weight: 700;
        font-size: 18px;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    .lead-ad-call-scheduler {
        margin: 0 auto;
    }
}

.lead-ad-footer {
    @include flex;
    @include flex-align(center);
    @include flex-justify(flex-end);
    background-color: #2c3e50;
    .lead-ad-logo {
        cursor: pointer;
        padding: 25px 50px;
        width: 150px;
    }

}

@media only screen and (max-width: 893px) {
    .lead-ad-hero-row {
        padding: 25px 50px 50px 50px;
        .lead-ad-webinar-subheader {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .lead-ad-miro-img {
            margin-bottom: 10px;
        }
        .lead-ad-miro-blurb {
            font-size: 14px;
            margin: 0 auto;
        }
        .lead-ad-webinar-blurb {
            font-size: 12px;
            margin: 0 auto;
        }
        .lead-ad-list-item {
            font-size: 14px;
        }
    }

    .lead-ad-news-row {
        .lead-ad-news-header {
            font-size: 18px;
        }
    }

    .lead-ad-schedule-call-row {
        .lead-ad-schedule-call-header {
            font-size: 18px;
        }
        .lead-ad-schedule-call-subheader {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 709px) {
    .lead-ad-nav {
        padding: 15px 10px;
    }
    .lead-ad-hero-row {
        padding: 15px 10px;
        .lead-ad-header {
            border-bottom: 1px solid #2c3e50;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
        .lead-ad-webinar-info-row {
             flex-direction: column-reverse;
         }
        .lead-ad-about-miro {
            margin: 0 auto;
            width: 100%;
        }
        .lead-ad-webinar-info {
            border-bottom: 2px solid #eaeaea;
            margin: 0 auto 10px auto;
            width: 100%;
        }
        .lead-ad-webinar-blurb {
        }
        .lead-ad-webinar-list {
            max-width: 310px;
        }
    }


}
